<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>AdminBlog</title>
</head>
<body>
<div data-ng-controller="adminBlogController">
	<!-- <form id="adminblogform" method="post"> -->
	<!-- <a>this is adminblog</a> -->
		<table>
<thead>
			<tr bgcolor="Yellow">
				<td>Blog Name</td>
				<td>Blog Content</td>
				<td colspan="2">Operations</td>
			</tr>
			</thead>
			<tr bgcolor="cyan" data-ng-repeat="blog in blogdata">
				<td><a href="BlogPage">{{blog.blogName}}</a></td>
				<td>{{blog.blogContent}}</td>
				<td data-ng-show="blog.status=='N'">
				<input type="submit" value="Approve" data-ng-click="approveBlog(blog.blogId)"/></td>
				 <td data-ng-show="blog.status=='A'">
				<input type="submit" value="Reject"  data-ng-click="rejectBlog(blog.blogId)" /></td> 
						
			</tr>
		</table>

	<!-- </form> -->
	</div>
	</div>
	</div>
</body>
</html>